:root {
    --width: 70ch;
    --font-main: serif;
    --font-secondary: sans-serif;
    --font-scale: 1.2em;
    --background-color: #f5ffed;
    --heading-color: #120d15;
    --text-color: #120d15;
    --link-color: #005999;
    --link-hover: #59561C;
    --visited-color: #4B5C23;
    --code-background-color: #e3d6c0;
    --code-color: #1E483E;
    --blockquote-color: #222;
    --caption-color: #6B4A73;
    --oring-color: #E3F7D3;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0a0012;
        --heading-color: #edf2ea;
        --text-color: #edf2ea;
        --link-color: #7aa3cc;
        --link-hover: #36ca5c;
        --visited-color: #cc7aa3;
        --code-background-color: #1C273B;
        --code-color: #daa4b5;
        --blockquote-color: #ccc;
        --caption-color: #808080;
        --oring-color: #011627;
    }
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin:1em auto;
    padding: 1.5rem;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

body ::selection {background-color:#ffc30f;color:#0029a3;text-decoration:none}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
}

a[href^="http://"]:not([href*="ohio.araw.xyz"]):after,
a[href^="https://"]:not([href*="ohio.araw.xyz"]):after {
        content: "\2197";
        color: var(--link-hover);
        display: inline-block
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: underline;
}

a:hover, a:visited:hover {
    color: var(--link-hover);
    text-decoration: underline; 
}

nav a {margin-right: 8px;}

button {
    margin: 0;
    cursor: pointer;
}

time {padding-right: 0.7rem}

main {line-height: 1.6;}

table {
    border-collapse:collapse;
    width: 100%;
}

td, th {
    padding: 0.5em;
    border: 1px solid;
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
    height:auto;
}


figure,figcaption {
    text-align:center;
    font-size: 0.8em;
    color: var(--caption-color);
    margin-right: auto;
    margin-left: auto
}

code, kbd, pre, samp {
    font-family: Menlo, Consoloas, Monaco, monospace;
    font-size: inherit;
    overflow-x: auto;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
}

p code, li code {
    border: 1px solid var(--code-color);
    border-radius: 2px;
    color: var(--code-color);
    padding: 1px 1px}

blockquote {
    font: 1.1em/1.4 Times,serif;
    border-left: 2px solid #999;
    color: var(--code-color);
    padding-left: 0.9em;
    font-style: italic;
}

sub,sup {font-size: 69%}

footer {text-align: left;}

footer :target {font-weight:bold}

.foot-hr {border:0;border-bottom:1px dashed #ccc;}
.container { max-width: 700px }
.small {font-size: 0.8em}
.toc {font-size:0.8em; border: 1px solid; padding: 0.7em}
.footnotes { font-size: 0.9rem }
.footnotes :target {font-weight:bold}
.footnote-ref:before { content:"["}
.footnote-ref:after { content:"]"}
.footnote-ref, .footnote-backref { text-decoration: none; font-weight:bold }
.statusOnGoing { color: #0029a3; background-color: #ffc30f; padding:0.1em }
.statusOpen { color: #85fcfc; background-color: #8a0303; padding:0.1em }
.statusDone { color: #371a33; background-color: #32cd32; padding:0.1em }
.statusClosed { color: #333; background-color: #c7c7c7; padding:0.1em }
a.btt {font-size: 0.8em; text-decoration: none}
.red {color:red}
.green {color:#36ca5c}

.webring .articles {display: flex;flex-wrap: wrap; justify-content:center}
.webring .title {font-weight:bold; margin: 0}
.webring .article {
  flex: 1 1 150px;
  margin: 0.5rem;
  padding: 0.5rem;
  background: var(--oring-color);
}
.webring .summary {font-size: 0.8em;flex: 1;}
.webring .attribution {float: right;font-size: 0.8rem;color: var(--caption-color);}
.blogsite {font-size: 0.8rem}
