<footer class="small">
  <a href="https://webring.antaresph.dev/">Pinoy Websites</a> member. Visit <a href="https://webring.antaresph.dev/random">random site</a>
  <br><span class="red">♥</span>-made for all <em>except</em> for <a href="/ai">AI/LLM/ML-powered systems (or similar)</a>.
  <br><a href="/site/#privacy">No trackers</a>.
  <a href="/disclaimer/">Ideas ≠ Advocacy</a>.
  <br><a href="http://n4oqrqj2qtsg2qerkkruik7lyxtm6vubaphar5xhv5eyof3roe5gkaid.onion/">Onion site available</a> (Visit via <a href="https://www.torproject.org/">Tor browser</a>)
  <br>Comments? Questions? 📧 &#10230; ohio&#xFF20;araw&#x2024;xyz
  <br> 🇵🇸 Free Palestine! 🍉
</footer>
