<hr class="foot-hr">
<footer class="small">
Content under <a href="http://creativecommons.org/licenses/by-sa/4.0/" >CC BY-SA 4.0</a>; Code under <a href="/LICENSE.txt">MIT</a>
  <br><a href="https://webring.antaresph.dev/">Pinoy Websites</a> member. Visit <a href="https://webring.antaresph.dev/random">random site</a>
  <br>Made with <span class="red">♥</span> for the web.
    <a href="/site/#privacy">No trackers</a>.
        <a href="/disclaimer/">Ideas ≠ Advocacy</a>.
    <br>Notes, comments &#10230; ohio&#xFF20;araw&#x2024;xyz
</footer>
