{{ define "main" }}
<p><strong>Ohio Olarte</strong> (he/him) is a researcher in the so-called Philippines.
        This personal site contains things of interest.
</p>

<p>
        <a href="/about/"><strong>About</strong></a>: More info on me<br>
        <a href="/log/"><strong>Log</strong></a>: recent changes and life updates<br>
        <a href="/project/"><strong>Projects</strong></a>: DIY inquiries and undertakings<br>
        <a href="/blogroll/"><strong>Blogroll</strong></a>: Other blogs of interest<br>
        <a href="/support/"><strong>Support</strong></a>: Consider supporting my work<br>
        <a href="/log/index.xml" title="Copy this link to your reader"><strong>RSS Feed</strong></a> (Learn more <a href="https://aboutfeeds.com"><em>About Feeds</em></a>)<br><br>

<hr class="foot-hr">
{{ end }}
