{{ define "main" }}
        <p><strong>Ohio Olarte </strong> (he/him) is a researcher based in the Philippines.
        This personal site contains things of interest.
        </p>
        <p>
        <a href="/log/"><strong>Log</strong></a>: recent changes and life updates<br>
        <a href="/project/"><strong>Projects</strong></a>: DIY inquiries and undertakings<br>
        <a href="/cv"><strong>CV</strong></a> (www/html) [<a href="/cv.pdf">pdf</a>, ~88Kb]: professional background so far<br>
        <a href="/blogroll/"><strong>Blogroll</strong></a>: Other blogs of interest<br>
        <a href="/support/"><strong>Support</strong></a>: Consider supporting my work if you find the ideas here useful<br>
        <a href="/log/index.xml" title="Copy this link to your reader"><strong>RSS Feed</strong></a><br><br>
        <a href="/search/"><strong>Search</strong></a> this site<br>
	</p>

{{ end }}
