{{ define "main" }}
<p>I'm <strong>Ohio Olarte</strong> (he/him) from the so-called
Philippines.</p>

<p>I want to know when to act or not act, and have the wisdom
to know which would matter more&#8212;to me, my friends and family, and to the
communities of which I'm part. I want to preserve memories
if/when I can. In all of the timelines that have
converged and diverged, only Now is left. All beautiful places have been
created and destroyed; we remain Here. In the world where we pass, how else do
we go but on?</p>

<p>
        <a href="/about/"><strong>About</strong></a>: More info on me<br>
        <a href="/log/"><strong>Log</strong></a>: recent changes and life updates<br>
        <a href="/project/"><strong>Projects</strong></a>: DIY inquiries and undertakings<br>
        <a href="/blogroll/"><strong>Blogroll</strong></a>: Other blogs of interest<br>
        <a href="/support/"><strong>Support</strong></a>: Consider supporting my work<br>
        <a href="/log/index.xml" title="Copy this link to your reader"><strong>RSS Feed</strong></a> (Learn more <a href="https://aboutfeeds.com"><em>About Feeds</em></a>)<br><br>

<hr class="foot-hr">
{{ end }}
